@font-face {
    font-family: 'CinzelDecorative';
    src: url(fonts/CinzelDecorative-Bold.ttf);
}
@font-face {
    font-family: 'SingleGhost';
    src: url(fonts/SingleGhost-regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Times New Roman';
}
.bg-img {
    width: 100%;
    position: absolute;
    z-index: -9999;
}
.bg-img img {
    width: 100%;
}
.portfolio-main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-center {
    display: grid;
    justify-content: center;
    align-items: center;
}
.portfolio-book {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 6;
}
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}
.eros-psycho {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 350px;
    height: 500px;
}
.eros-psycho img {
    width: 400px;
    filter: drop-shadow(0 0 10px white);
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}
.paper img {
    width: 100%;
    height: 100%;
}
.front, .back {
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}
.front {
    z-index: 1;
    backface-visibility: hidden;
}
.back {
    z-index: 0;
}
.front-content, .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-content img, .back-content img {
    position: absolute;
    z-index: -1;
}
.back-content {
    transform: rotateY(180deg)
}
.flipped .front, .flipped .back {
    transform: rotateY(-180deg);
}
button {
    border: none;
    background-color: transparent;
    margin: 20px;
    transition: transform 0.5s;
}
button:focus {
    outline: none;
}
button:hover i {
    color: #636363;
}
button svg {
    color: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
}
#p1 {
    z-index: 3;
}
#p2 {
    z-index: 2;
}
#p3 {
    z-index: 1;
}
.page-info {
    text-align: center;
    padding: 10px;
    width: 90%;
    height: 95%;
}
hr {
    background-color: rgb(0, 0, 0);
    border: 0px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-info p {
    font-size: 13px;
    text-shadow: 1px 0 rgb(255, 255, 255);
    font-weight: bold;
}
.page-info h1 {
    color: white;
    font-size: 20px;
    font-family: 'CinzelDecorative';
    text-shadow: 2px 0 rgb(0, 0, 0);
}
.arrow-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SingleGhost';
    font-size: 30px;
    cursor: pointer;
    color: white;
    transition: 0.1s;
}
.blackout-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SingleGhost';
    font-size: 30px;
    color: rgb(53, 53, 53);
    transition: 0s;
}
.arrow-book:active {
    font-size: 25px;
    .arrow-top, .arrow-bottom {
        width: 140px;
        height: 20px;
    }
}
.arrow-top {
    width: 150px;
    height: 25px;
    background: linear-gradient(rgb(51, 51, 51), rgb(0, 0, 0));
    transition: 0.1s;
}
.arrow-bottom {
    width: 150px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    transition: 0.1s;
}
.arrow-right .arrow-top, .arrow-left .arrow-bottom {
    transform: skew(60deg, 0deg);
}
.arrow-right .arrow-bottom, .arrow-left .arrow-top {
    transform: skew(-60deg, 0deg);
}
.arrow-book p, .blackout-button p {
    position: absolute;
    z-index: 999;
    place-items: center;
}